.customer-menu {
    position: relative;
    margin-left: 25px;
    color: #183a65;

    .lib-dropdown();

    ul.dropdown {
        width: auto;
    }

    .customer-menu {
        line-height: 53px;
        font-size: 18px;
    }

    .action.toggle:after, .action.toggle.active:after {
        line-height: 53px;
    }
}
