//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .ui-menu.ui-widget.ui-widget-content.ui-corner-all {
        font-size: 18px;
        font-family: "Source Sans Pro", sans-serif;
        letter-spacing: 1px;
        line-height: 53px;
        font-weight: normal;
        text-align: left;
        word-spacing: 0px;
        text-decoration: none solid rgb(33,37,41);
        background: #f2f1f1;
    }

    .level-top.ui-corner-all:hover {
        color: #ea690e !important;
    }

    .header-after {
        padding: 0 20px 20px 20px;
        color: #fff;
        background: #232f3e;

        .header-block-container {
            a, a:visited {
                color: #183a65;
            }

            .shop-deals {
                .lib-css(font-size, 26px);
                float: right;
                font-weight: 600;
            }

            .deliver {
                display: inline-block;
                padding-top: 15px;
            }
        }
    }

    .page-header {
        background: #f2f1f1;
        position: fixed;
        z-index: 10;
        color: #f2f1f1;
        width: 100%;
        margin: 0 auto;
    }

    .header.content {
        //max-width: none !important;
        background: #f2f1f1;
        width: 100%;
        padding: 0 16.5%;
        display: flex;
        justify-content: space-between;

        a, a:visited {
            color: #183a65 !important;
        }

        .block-search {
            width: 350px !important;
            float: left;
            margin-left: 50px;

            .control {
                padding: 0 0 15px !important;

                input {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-radius: 5px;
                }

                input::placeholder {
                    color: transparent;
                }
            }
        }

        .minicart-wrapper .action.showcart::before{
            color: #183a65 !important;
        }

        .minicart-wrapper {
            position: absolute;
            top: 35px;
            right: -90px;

            //.showcart:after {
            //    content: 'Cart';
            //    padding-right: 5px;
            //    color: #183a65;
            //    .lib-css(font-size, 16px);
            //    font-weight: 500;
            //    top: 8px;
            //    position: relative;
            //}

            .showcart:before {
                color: #fff;
            }
        }
    }

    .page-footer {
        background: #183a65;
    }
    .footer.content {
        background: #183a65;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 16px;
        color: #f2f1f1;
        flex-shrink: 0;
        width: 1905px;
        border-top:none;



        .links {
            padding: 0 40px 0 0 !important;

            li a {
                .lib-css(font-size, 16px);
            }
        }

        a, a:visited {
            color: #FFF;
        }

        .header-title {
            .lib-css(font-size, 16px);
            margin-bottom: 10px;
            font-family: sans-serif;
            line-height: 19.2px;
            text-decoration: none solid rgb(234,105,14);
            font-weight: 500;
            text-transform: uppercase;
            color: #EA690E;
        }

        .header-title_logo {
            height: 100px;
            width: 100px;
        }
    }

    .gebit-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        gap: 40px;
    }

    .footer-copyright {
        padding: 20px;
        background: #002a4a;
        text-align: center;

        .footer-copyright-container {
            color: #999;
            .lib-css(font-size, 12px);
            display: flex;

            .copyright, .extra-links {
                flex: 1;
            }

            .extra-links {

                text-align: right;

                a, a:visited {
                    color: #183a65;
                    margin-right: 15px;
                }
            }

            .copyright {
                margin: 0;
                text-align: center;
            }
        }
    }


    .footer-switcher {
        border-top: 1px solid #37475A;
        background: #232F3E;
        color: #fff;
        padding: 20px;

        text-align: center;

        .switcher-content {
            display: flex;
        }

        .switcher-content__item {
            margin: 0 auto;
            //flex: 1;

            .amazon-logo {
                text-align: right;
            }

            .switcher-links {
                text-align: left;
                margin-left: 30px;
            }

            a {
                border: 1px solid #848688;
                padding: 10px;
                border-radius: 3px;
                color: #fff;
                display: inline-block;

                &:hover {
                    text-decoration: none;
                }

                &.language {
                    &:before {
                        content: url('../../../images/globe.png');
                        vertical-align: top;
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        right: 5px;
                    }
                }

                &.currency {
                    &:before {
                        content: '$';
                        vertical-align: top;
                        display: inline-block;
                        position: relative;
                        right: 5px;
                    }
                }

                &.country {
                    &:before {
                        content: url('../../../images/usa-flag.png');
                        vertical-align: top;
                        display: inline-block;
                        position: relative;
                        right: 5px;
                    }
                }
            }
        }
    }

    .page-wrapper {
        background: #FFFFFF;
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .logo {
        margin: 0 auto 10px 0;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}
