//
//  Common
//  _____________________________________________

@var1: #007bff;
@var2: #6610f2;
@var3: #6f42c1;
@var4: #e83e8c;
@var5: #dc3545;
@var6: #fd7e14;
@var7: #ffc107;
@var8: #28a745;
@var9: #20c997;
@var10: #17a2b8;
@var11: #ffffff;
@var12: #6c757d;
@var13: #343a40;
@var14: #f8f9fa;
@var15: #183a65;

:root {
    --blue: @var1;
    --blue-dark: @var15;
    --indigo: @var2;
    --purple: @var3;
    --pink: @var4;
    --red: @var5;
    --orange: @var6;
    --yellow: @var7;
    --green: @var8;
    --teal: @var9;
    --cyan: @var10;
    --white: @var11;
    --gray: @var12;
    --gray-dark: @var13;
    --primary: @var1;
    --secondary: @var12;
    --success: @var8;
    --info: @var10;
    --warning: @var7;
    --danger: @var5;
    --light: @var14;
    --dark: @var13;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.column.main {
    width: 100% !important;
}

@media (min-width: 1024px) {
    .page-products .products-grid .product-item {
        width: calc((100% - 6%) / 5);
    }
}

.product-item-name {
    display: flex;
    justify-content: center;

    .product-item-link {
        font-size: 24px;
        line-height: 1.1;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.price-wrapper {
    .price {
        display: flex !important;
        justify-content: center !important;
        font-size: 18px !important;
        font-family: 'Source Sans Pro', sans-serif !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        background: #fff !important;
        color: var(--blue-dark) !important;
    }
}

.actions-secondary {
    display: none !important;
}

.product-item-actions {
    display: flex !important;
    justify-content: center !important;
}

.action.primary {
    background: var(--blue-dark);
    color: #fff;
    border-radius: 9px;
    font-weight: 700;
    font-size: 20px;
    padding: 8px 18px;
    line-height: 1;
    margin-top: 15px;
    display: inline-block;
}

.product-item-actions .actions-secondary > .action:before {
    color: var(--blue-dark);
}
