<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Magento\CatalogInventory\Block\Stockqty\DefaultStockqty
 */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$sources = $objectManager->create('Magento\InventoryCatalogAdminUi\Model\GetSourceItemsDataBySku')->execute($product['sku']);
?>

<?php if ($block->isMsgVisible()): ?>
    <div class="availability only" title="<?= /* @escapeNotVerified */
    __('%1 item(s) left in stock', ($block->getStockQtyLeft())) ?>">
        <?= /* @escapeNotVerified */
        __('%1 item(s) left in stock', "<strong>{$block->getStockQtyLeft()}</strong>") ?>
    </div>
<?php endif ?>

<div class="block">
    <div class="dots" onclick="this.classList.toggle('active');">
        <div class="dot"></div>
        <div class="dot"></div>

        <div class="container cut">
            <div class="list">
                <ul>
                    <?php foreach ($sources as $source): ?>
                        <li><?php echo "{$source['name']}: {$source['quantity']}шт." ?></li>
                    <?php endforeach; ?>
                </ul>
            </div>

        </div>
        <div class="dot"></div>
    </div>
    <div class="cursor" onclick="document.querySelector('.dots').classList.toggle('active');"></div>
</div>
