<?php

/** @var \Magento\Framework\View\Element\Template $block */
?>

<div class="header-title_logo">
    <a href="#"><img src="<?= $block->getViewFileUrl('images/logos.png'); ?>" alt=""></a>
</div>
