<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div id="store-selector" data-bind="blockLoader: $parent.isLoading" css="'store-selected': $parent.selectedLocation">
    <each if="!quoteIsVirtual()" args="getRegion('customer-email')" render=""></each>
    <div class="step-title" data-role="title">
        <translate args="'Store'"></translate>
    </div>
    <table class="store-selector-popup-table" data-bind="blockLoader: isLoading, afterRender: getStoreList">
        <tbody>
        <!-- ko foreach: { data: nearbyLocations(), as: 'location' } -->
            <!-- ko template: { name: $parent.storeSelectorPopupItemTemplate } --><!-- /ko -->
        <!-- /ko -->
        </tbody>
    </table>
    <div id="checkout-step-store-selector" class="step-content" data-role="content">
        <form class="form-continue" submit="setPickupInformation" novalidate="novalidate">
            <div class="actions-toolbar">
                <div class="primary">
                    <button data-role="opc-continue"
                            type="submit"
                            class="button action continue primary"
                            css="disabled: !selectedLocation"
                            enable="selectedLocation"
                            disabled
                    >
                        <span>
                            <translate args="'Next'"></translate>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="opc-store-selector-popup" render="storeSelectorPopupTemplate"></div>
