<?php

/** @var \Magento\Framework\View\Element\Template $block */
?>

<div class="customer-menu">
    <span class="action toggle"
          data-mage-init='{"dropdown":{}}'
          data-toggle="dropdown"
          aria-haspopup="true">
     <span class="customer-menu"><?= __("Profile")?></span>
 </span>
    <ul class="dropdown" data-target="dropdown">
        <?= $block->getChildHtml() ?>
    </ul>
</div>
