<?php

/** @var \Magento\Framework\View\Element\Template $block */
?>

<div class="footer-copyright">
    <div class="footer-copyright-container">
        <?= $block->getChildHtml();?>
    </div>
</div>
